<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: salmon;">
    <a class="navbar-brand" href="#">Ace Holidays!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"  type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Main page">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="About Us">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"  type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Places">
                    Places
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.thrillophilia.com/cities/jaipur">Jaipur</a>
                    <a class="dropdown-item" href="https://www.thrillophilia.com/states/goa/tours">Goa</a>
                    <a class="dropdown-item" href="https://www.thrillophilia.com/states/andaman-and-nicobar-islands">Andaman</a>
                    <a class="dropdown-item" href="https://www.thrillophilia.com/cities/shimla">Shimla</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h5 style="color:#FF0C0C; font-size:30px"><blockquote style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#000;">
    World is wide so let's take memories and leave footprints.<cite>-Touring Partner</cite>
</blockquote></h5>
<b>
    <div class="content0">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">Shopping Mall</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="content1">
                                <img class="d-block w-100" src="assets/images/c1.jpg" alt="First slide"/>
                                <div class="carousel-caption">
                                    <h2 style="color: #000000;font-family: cursive;">MANAROLA</h2>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content1">
                                <img class="d-block w-100" src="assets/images/c2.jpg" alt="second slide"/>
                                <div class="carousel-caption">
                                    <h2 style="color: #000000;font-family: cursive;">GOA</h2>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content1">
                                <img class="d-block w-100" src="assets/images/c3.jpg" alt="Third slide"/>
                                <div class="carousel-caption">
                                    <h2 style="color: #000000;font-family: cursive;">KASHMIR</h2>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content1">
                                <img class="d-block w-100" src="assets/images/c4.jpg" alt="Fourth slide"/>
                                <div class="carousel-caption">
                                    <h2 style="color: #000000;font-family: cursive;">VENICE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <br>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-2">
            <div class="sideheading"> 1.<u>Jaipur:</u></div>
        </div>
    </div>
    <img class="jaipur_img" src="assets/images/jaipur.jpg" />
    <p class="para">Jaipur is one of the most beautiful cities in the world
        and the best way to make the most of your trip to the famous Pink City of India is by booking Jaipur tour
        packages. These tour
        packages will give you a comprehensive tour of the city, along with a deep insight into the rich culture
        and history that this place is known for. The tour packages also include a wealth of activities, adventures,
        sightseeing tours,
        beautiful hotels to stay in and provisions to sample the wonderful local cuisine that Jaipur is renowned for.
        The packages are inclusive of all the elements of a memorable vacation, starting from your flight to the city
        and a well-planned and
        personalized Jaipur tour, right till your flight back home. You don’t have to worry about any of these
        logistical details
        and you can only concentrate on exploring this rich and colourful city and making lifelong memories.
        One of the best features of these Jaipur packages is the fact that they are cost-effective. You can avail a
        number of deals and
        offers that allow you to experience Jaipur at a huge discount! Certain adventures like hiking, paragliding, hot
        air balloon rides,
        came rides and fort tours, which are much sought-after in Jaipur can be enjoyed at a subsidized rate when you
        book them as part of
        your tour packages.
        These deals and offers make sure that you enjoy your holiday without burning a hole in your pocket. The packages
        are also inclusive
        of personalized elements such as family tours, solo traveller’s adventures and many more customizations that
        come
        together to create a tailor-made holiday, just for you.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="sideheading"><u>Booking Details:</u></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="para">
                <li>Price - Rs.30000(06 day tour pack).</li>
                <li>Price - Rs.50000(12 day tour pack).</li>
                <li>Payment must be payed in advance.</li>
                <li>Mode of Transport - Flight.</li>
                <li>For further details - mail us at <a href="mailto:tourtravel@gmail.com">tourtravel@gmail.com</a> or
                    contact +91 9862378365 . </li>
                <li>Send the required details to <a href="mailto:confirmtravel@gmail.com">confirmtravel@gmail.com</a> to
                    confirm your booking.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="sideheading"> 2.<u>Goa:</u></div>
        </div>
    </div>
    <img class="goa_img" src="assets/images/goa.jpg" height="200px" />
    <p class="para">Baga Beach, Calangute Beach, Grand Island, Dudhsagar Waterfalls, Fort Aguada, Candolim Beach, Tito's
        Street,
        Arambol Beach, Bom Jesus Basilica, Palolem Beach, Curlies, Club Cubana, Anjuna Flea Market, Chapora Fort, Mapusa
        Friday Market, Divar
        Island, Salim Ali Bird Sanctuary and many more.
        Deck up your itinerary list with the spectacular places in Goa and get ready to be awe-struck with its
        surprises. Serving as the hot
        spot for vacationists from both near and far, Goa is all in all a place for the party animals and solace seekers
        alike. From the
        ravishing nightlife pubs to the ever fantastic beaches there is something for everyone. Apart from this, one
        must not dare to miss
        out on the Goan churches which not only cater to ultimate tranquillity but also exhibit the architecture of the
        colonial period.
        Tourist places in Goa never fail to stun the visitants, as each one of them highlights something unusual of its
        own. While the Baga
        beach is reckoned for the adrenaline-pumping adventures like Jet skiing, kitesurfing, parasailing, and
        waterboarding the Calangute
        Beach is famed as the “Queen of beaches” due to its picturesque landscapes.
        Whether you are touring the place with your bunch of buddies or family, there is no dearth of options and you
        can explore the
        places that you like. You can also try hands-on scuba diving on the Grand Island and witness the scenic view
        from Aguada fort.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="sideheading"><u>Booking Details:</u></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="para">
                <li>Price - Rs.35000(05 day tour pack).</li>
                <li>Price - Rs.65000(10 day tour pack).</li>
                <li>Payment must be payed in advance.</li>
                <li>Mode of Transport - Flight.</li>
                <li>For further details - mail us at <a href="mailto:tourtravel@gmail.com">tourtravel@gmail.com</a> or
                    contact +91 9862378365 . </li>
                <li>Send the required details to <a href="mailto:confirmtravel@gmail.com">confirmtravel@gmail.com</a> to
                    confirm your booking.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="sideheading"> 3.<u>Andaman & Nicobar:</u></div>
        </div>
    </div>
    <img class="andaman_img" src="assets/images/andaman.jpg" height="200px" />
    <p class="para">The most obvious reason to travel to the Andamans is to let oneself go completely, to recharge the
        body and collect new ideas. The Andaman Islands, despite lying more than 1,000 km east of the Indian mainland
        and only about 300 km
        west of Bangkok, run the same time as Delhi i.e. the Indian Standard Time. On a trip to these islands, one
        should make sure to
        bring a lot of good books, some strong sun lotion, a hammock and snorkeling equipment.The heavenly Andaman and
        Nicobar Islands are
        best enjoyed in the pleasant weather. Far from the mainland India, these islands enjoy a blissful tropical
        weather. The tourist
        season is October to May. These are the months of optimum weather conditions. For travelers who are seeking to
        explore the
        marine world with scuba diving and snorkeling, December to March is the best time. The days are sunny, waters
        are clear and it’s
        the nesting period for turtles. For nature lovers who want to enjoy the bliss, October to December and March to
        May are the
        ideal season. For the surfers, February to August is the best time. The little slice of paradise is to be
        avoided at all costs
        in the monsoons.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="sideheading"><u>Booking Details:</u></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="para">
                <li>Price - Rs.40000(05 day tour pack).</li>
                <li>Price - Rs.75000(10 day tour pack).</li>
                <li>Payment must be payed in advance.</li>
                <li>Mode of Transport - Flight / Ship.</li>
                <li>For further details - mail us at <a href="mailto:tourtravel@gmail.com">tourtravel@gmail.com</a> or
                    contact +91 9862378365 . </li>
                <li>Send the required details to <a href="mailto:confirmtravel@gmail.com">confirmtravel@gmail.com</a> to
                    confirm your booking.</li>
            </ul>
        </div>
    </div>
</b>

<router-outlet></router-outlet>