<mat-sidenav-container fullscreen>
  <mat-sidenav
    class="side-nav"
    mode="side"
    opened
    position="start"
    style="padding: 2%"
  >
    <div class="container" style="font-size: 24px; text-align: center">
      <span style="color: red; font-family: Oswald; margin-left: 10%"
        >MyTube</span
      >
    </div>
    <div class="side-nav-link">
      <mat-nav-list class="mat-list">
        <mat-list-item class="mat-item-hover">
          <a routerLink="Tube">
            <mat-icon class="icon-padding">home</mat-icon>
            Home
          </a>
        </mat-list-item>

        <mat-list-item class="mat-item-hover" style="justify-content: center">
          <a routerLink="Trending">
            <span class="material-icons">explore</span>

            Explore
          </a>
        </mat-list-item>

        <hr />

        <mat-list-item class="mat-item-hover">
          <span class="material-icons">subscriptions</span>
          Subscriptions
        </mat-list-item>

        <mat-list-item class="mat-item-hover">
          <mat-icon class="icon-padding">get_app</mat-icon>
          Downloads
        </mat-list-item>

        <mat-list-item class="mat-item-hover">
          <a routerLink="#">
            <mat-icon class="icon-padding">account_circle</mat-icon>
          </a>
          Account
        </mat-list-item>
        <mat-list-item class="mat-item-hover">
          <a routerLink="Premium">
            <mat-icon class="icon-padding">stars</mat-icon>
          </a>
          Premium
        </mat-list-item>
        <hr />
        <mat-list-item class="mat-item-hover">
          <a routerLink="Tourism">
            <mat-icon class="icon-padding">tour</mat-icon>

            Tourism
          </a>
        </mat-list-item>
        <hr />
        <mat-list-item class="mat-item-hover" class="copyrights">
          <a href="http://www.sret.edu.in/" style="bottom: 0"> © 2021 SRET</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <header class="header">
    <form class="search-bar">
      <input
        class="search-input"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button type="submit" class="search-btn">
        <span class="material-icons">search</span>
      </button>
      <button type="submit" class="mic">
        <span class="material-icons">mic</span>
      </button>
    </form>
    <div class="menu-icon">
      <a href="#">
        <span class="material-icons">video_call</span>
      </a>
      <a href="#">
        <span class="material-icons">apps</span>
      </a>
      <a href="#">
        <span class="material-icons">notifications</span>
      </a>
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span
          ><img
            src="assets/images/pro.png"
            alt=""
            style="border-radius: 50%; width: 50px"
        /></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">My Channel</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</mat-sidenav-container>
