<div class="videos">
    <section class="video-section">
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://www.youtube.com/img/trending/avatar/trending_avatar.png" 
                        alt="" height="50px">
                    <h4 class="tile-name">Trending</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/music_color_64.png"
                         alt="" height="40px">
                        <h4 class="tile-name">Music</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/gaming_color_64.png"
                         alt="" height="40px">
                        <h4 class="tile-name">Gaming</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/news_color_64.png" 
                        alt="" height="40px">
                        <h4 class="tile-name">News</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/movies_color_64.png" 
                        alt="" height="40px">
                        <h4 class="tile-name">Movies</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/fashion_and_beauty_color_64.png" 
                        alt="" height="40px">
                        <h4 class="tile-name">Fashion and Beauty</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/learning_color_64.png" 
                        alt="" height="40px">
                        <h4 class="tile-name">Learning</h4>
                    </span>
                </div>
            </a>
        </article>
        <article class="video-container">
            <a href="#" class="thumbnail">
                <div class="container-tile">
                    <span><img src="https://youtube.com/img/explore/destinations/icons/live_color_64.png" 
                        alt="" height="40px">
                        <h4 class="tile-name">Live</h4>
                    </span>
                </div>
            </a>
        </article>
       
    </section>
    <hr>
    <div class="vdeo">
        <div class="row">
            <div class="col-md-3" style="background-color: transparent;">
                <div class="video-container">
                <a href="#" class="thumbnail" data-duration="12:24">
                    <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                </a>
             </div>
            </div>
                <!-- <div class="video-bottom-section"> -->
                    <div class="col-md-9"  style="background-color: transparent;">
                    <div class="video-details">
                        <a href="#" class="video-title">Video Title</a><br>
                        <a href="#" class="video-channel-name">Channel Name</a>
                        <div class="video-metadata">
                            <span>1K Views</span>
                            •
                            <span>2 weeks ago</span>
                        </div>
                        <div class="des">
                            <p>{{para}}</p>
                        </div>
                    </div>
                    </div>
                    
            </div>   
            <br>
            <div class="row">
                <div class="col-md-3" style="background-color: transparent;">
                    <div class="video-container">
                        <a href="#" class="thumbnail" data-duration="12:24">
                            <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                        </a>
                    </div>
                </div>
                <!-- <div class="video-bottom-section"> -->
                <div class="col-md-9" style="background-color: transparent;">
                    <div class="video-details">
                        <a href="#" class="video-title">Video Title</a><br>
                        <a href="#" class="video-channel-name">Channel Name</a>
                        <div class="video-metadata">
                            <span>1K Views</span>
                            •
                            <span>2 weeks ago</span>
                        </div>
                        <div class="des">
                            <p>{{para}}</p>
                        </div>
                    </div>
                </div>
                <br>
            
            
            
            
            </div><br>
                <div class="row">
                    <div class="col-md-3" style="background-color: transparent;">
                        <div class="video-container">
                            <a href="#" class="thumbnail" data-duration="12:24">
                                <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                            </a>
                        </div>
                    </div>
                    <!-- <div class="video-bottom-section"> -->
                    <div class="col-md-9" style="background-color: transparent;">
                        <div class="video-details">
                            <a href="#" class="video-title">Video Title</a><br>
                            <a href="#" class="video-channel-name">Channel Name</a>
                            <div class="video-metadata">
                                <span>1K Views</span>
                                •
                                <span>2 weeks ago</span>
                            </div>
                            <div class="des">
                                <p>{{para}}</p>
                            </div>
                        </div>
                    </div>
                
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="background-color: transparent;">
                        <div class="video-container">
                            <a href="#" class="thumbnail" data-duration="12:24">
                                <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                            </a>
                        </div>
                    </div>
                    <!-- <div class="video-bottom-section"> -->
                    <div class="col-md-9" style="background-color: transparent;">
                        <div class="video-details">
                            <a href="#" class="video-title">Video Title</a><br>
                            <a href="#" class="video-channel-name">Channel Name</a>
                            <div class="video-metadata">
                                <span>1K Views</span>
                                •
                                <span>2 weeks ago</span>
                            </div>
                            <div class="des">
                                <p>{{para}}</p>
                            </div>
                        </div>
                    </div>
                <br>
                </div><br>
                    <div class="row">
                        <div class="col-md-3" style="background-color: transparent;">
                            <div class="video-container">
                                <a href="#" class="thumbnail" data-duration="12:24">
                                    <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                                </a>
                            </div>
                        </div>
                        <!-- <div class="video-bottom-section"> -->
                        <div class="col-md-9" style="background-color: transparent;">
                            <div class="video-details">
                                <a href="#" class="video-title">Video Title</a><br>
                                <a href="#" class="video-channel-name">Channel Name</a>
                                <div class="video-metadata">
                                    <span>1K Views</span>
                                    •
                                    <span>2 weeks ago</span>
                                </div>
                                <div class="des">
                                    <p>{{para}}</p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3" style="background-color: transparent;">
                            <div class="video-container">
                                <a href="#" class="thumbnail" data-duration="12:24">
                                    <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                                </a>
                            </div>
                        </div>
                        <!-- <div class="video-bottom-section"> -->
                        <div class="col-md-9" style="background-color: transparent;">
                            <div class="video-details">
                                <a href="#" class="video-title">Video Title</a><br>
                                <a href="#" class="video-channel-name">Channel Name</a>
                                <div class="video-metadata">
                                    <span>1K Views</span>
                                    •
                                    <span>2 weeks ago</span>
                                </div>
                                <div class="des">
                                    <p>{{para}}</p>
                                </div>
                            </div>
                        </div>
                    <br>
                    </div><br>
                        <div class="row">
                            <div class="col-md-3" style="background-color: transparent;">
                                <div class="video-container">
                                    <a href="#" class="thumbnail" data-duration="12:24">
                                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="video-bottom-section"> -->
                            <div class="col-md-9" style="background-color: transparent;">
                                <div class="video-details">
                                    <a href="#" class="video-title">Video Title</a><br>
                                    <a href="#" class="video-channel-name">Channel Name</a>
                                    <div class="video-metadata">
                                        <span>1K Views</span>
                                        •
                                        <span>2 weeks ago</span>
                                    </div>
                                    <div class="des">
                                        <p>{{para}}</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3" style="background-color: transparent;">
                                <div class="video-container">
                                    <a href="#" class="thumbnail" data-duration="12:24">
                                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image" />
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="video-bottom-section"> -->
                            <div class="col-md-9" style="background-color: transparent;">
                                <div class="video-details">
                                    <a href="#" class="video-title">Video Title</a><br>
                                    <a href="#" class="video-channel-name">Channel Name</a>
                                    <div class="video-metadata">
                                        <span>1K Views</span>
                                        •
                                        <span>2 weeks ago</span>
                                    </div>
                                    <div class="des">
                                        <p>{{para}}</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
            
        </div>
    </div>

